/* narcisradu.ro */

.pure-menu li:hover { background: #eee; }

.pure-menu li:hover > ul {
    display: block;
    top: 0;
    left: 100%;
    visibility: visible;
}

.pure-menu li .pure-menu-children { border: 1px solid #b7b7b7; }

.pure-menu-horizontal > ul > li:hover > ul {
    top: 100%;
    left: 0;
}

